<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Executable</title>
</head>


<body>

  <ul>
    <li><a href="bundled.html">Bundled</a></li>
    <li><strong>Executable</strong></li>
    <li><a href="runtime.html">Runtime</a></li>
    <li><a href="transpiled.html">Transpiled</a></li>
  </ul>


  <script src="/target/executable/main.js"></script>

</body>
</html>
