<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>TypeScript bundled</title>
</head>


<body>

  <ul>
    <li><a href="bundled.html">Bundled</a></li>
    <li><a href="executable.html">Executable</a></li>
    <li><a href="runtime.html">Runtime</a></li>
    <li><a href="transpiled.html">Transpiled</a></li>
    <li><strong>TypeScript bundled</strong></li>
    <li><a href="typescript-executable.html">TypeScript executable</a></li>
    <li><a href="typescript-transpiled.html">TypeScript transpiled</a></li>
  </ul>


  <script src="/node_modules/es6-module-loader/dist/es6-module-loader.js"></script>
  <script src="/node_modules/systemjs/dist/system.js"></script>
  <script src="/target/ts/bundled/main.js"></script>
  <script>
    System.config({
      defaultJSExtensions: true
    });

    System.import('test.js').then(function(module){
      module.default();
    });
  </script>

</body>
</html>
